<div class="app-room">
    <div class="app-panel app-border">

    </div>
    <div class="app-chat app-border">

    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/room.css" asp-append-version="true" />
}