.app-room {
    display: flex;
    height: 78vh;
    width: 100%;
}

.app-border {
    border-style: solid;
    border-width: medium;
    border-color: gray;
    border-radius: 3px;
}

.app-panel {
    flex-basis: 20vw; /* ширина блока : 20% от контейнера на layout page */
    margin: 1px;
    padding: 5px;
    background-color: aliceblue;
}

.app-chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* ширина блока : оставшееся пространство контейнера на layout page */
    justify-content: flex-end;
    margin: 1px;
    padding: 5px;
    background-color: aliceblue;
}

.app-messages {
    margin: 10px;
    padding: 5px;
    overflow-y: auto;
}

.app-message {
    border-style: solid;
    border-width: thin; 
    border-color: lightskyblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 3px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    background-color: white;
    width: 45%;
}

.app-message-yours {
    border-style: solid;
    border-width: thin;
    border-color: lightgreen;
    border-radius: 10px;
    padding: 10px;
    margin-left: 55%;
    margin-bottom: 3px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    background-color: white;
    width: 45%;
}

.app-message-username {
    font-size: 70%;
    font-weight: bold;
}

.app-message-text {
    font-size: 90%;
}

.app-break-line {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.app-input-line {
    margin: 10px;
    padding: 5px;
}

textarea {
    border: none;
    border-radius: 10px;
    resize: none;
    overflow: hidden;
    padding: 10px;
    width: 100%;
}
    textarea:active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
    }